<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.ProductId.title %></h1>
                <h2>Quantity: <%= p.Quantity %></h2>
                <!-- Add CSRF token to delete form -->
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="productId" value="<%= p.ProductId._id %>">
                    <button class="btn danger" type="submit">Delete</button>
                </form>
                
            </li>
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <!-- Add CSRF token to order form -->
            <form action="/order-now" method="POST">
                <button type="submit" class="btn">Order Now!</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
</body>
</html>
